@page "/receipts/scan"
@using ReactorBlazorQRCodeScanner

@rendermode @(new InteractiveAutoRenderMode(prerender: false))

<PageTitle>Scan Receipt | Expense Tracker</PageTitle>

<h1 class="mb-3">Scan Receipt</h1>
<p>
    Scan QR code from receipt to load details for new expense.
</p>

<QRCodeScanner LoadingMessage="Please allow camera access and wait for initialization" />
